Telegram_Chat_Assistant.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        -80
      ],
      "id": "9e633a18-239a-42a4-80aa-5700e4901f22",
      "name": "Telegram Trigger",
      "webhookId": "5b5ed42b-41b2-491f-b62e-cfd9720be18c",
      "credentials": {
        "telegramApi": {
          "id": "GJmecB2tv7roHZ0O",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -40,
        120
      ],
      "id": "f360c0fb-9698-488b-b881-7c98b93d772c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ZpLVjLAKwkdbO5lG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        380,
        -80
      ],
      "id": "a643d373-2687-4419-8c05-a25ba2313e35",
      "name": "Send a text message",
      "webhookId": "4f3e3689-72e5-4a83-914c-6b05d2259371",
      "credentials": {
        "telegramApi": {
          "id": "GJmecB2tv7roHZ0O",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an intelligent and helpful AI assistant integrated into Telegram. Your role is to:\n\nUNDERSTAND: Carefully read and comprehend user messages\nRESPOND: Provide accurate, helpful, and contextual responses\nREMEMBER: Use conversation history to maintain context\nBE CONCISE: Keep responses under 200 tokens while being informative\nBE FRIENDLY: Maintain a conversational and approachable tone\n\nYou can help with: answering questions, providing explanations, creative tasks, problem-solving, and general conversation. Always be helpful, accurate, and respectful.\n\nToken Limit: 200 tokens maximum per response\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        20,
        -80
      ],
      "id": "e65fb133-b26e-49c9-9f40-1b528ff4968b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        140,
        140
      ],
      "id": "6d8ac05e-2cc3-44c7-a8a1-371c1c38cd61",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "07c43e88-e3a3-4534-afe1-01cd4ba79457",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48d938235d63135fde26c82a398520fc87ea411c551b654a864acc6639188ca8"
  },
  "id": "7Gbs6vPFuuhtTE6z",
  "tags": []
}
